<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>aeahat</title>
    <link href="/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/basecoat.min.css" />
  </head>

  <body>
    {% block content %}
    <h1>Hello, world!</h1>
    {% endblock %}

    <script src="/basecoat.min.js" defer></script>
    <script defer src="/alpinejs.min.js"></script>
    <script defer src="/htmx.min.js"></script>
  </body>
</html>
